.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;


}

.initial-buttons {
  display: flex;

  gap: 10px;


}

.children-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;


  align-items: center;
  justify-content: center;
}

.child-component {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.child-component.horizontal {
  display: flex;
  width: 100%;
}

.child-component.vertical {
  display: block;
  width: 100%;
}

.nested-children.horizontal {
  display: flex;
  width: 100%;
}

.nested-children.vertical {
  display: block;
  width: 100%;
}